<div class="container mt-5">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <div data-controller="popover" data-popover-url-value="<%= card_path %>">
    You can load popover with AJAX. For instance, this is my
    <a href="/profile" data-action="mouseenter->popover#show mouseleave->popover#hide">profile card</a>
  </div>
</div>

